h1 {
    font-size: 3em;
}

img {
    height: 250px;
    width: 300px;
}


.upper_container {
    display: flex;
    height: 300px;

    justify-content: space-evenly;
    /*background-color: black;*/
}

.upper_container div {
    border: black 3px solid;
    font-size: large;
    /*background-color: black;*/

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;

    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;

    border-radius: 10px;
}

#sold {
    color: green;
    border: 3px solid green;
    background-color: aquamarine;
}

#purchased {
    color: blue;
    border: 3px solid blue;
    background-color: cornflowerblue;
}

#toBeSold {
    color: red;
    border: 3px solid red;
    background-color: lightcoral;
}

.second_lower_container {
    height: 300px;
    border: black 3px dashed;
    border-radius: 10px;
    background-color: darkgray;

    display: flex;
    flex-direction: row;
}

.second_lower_container_img {
    flex-grow: 1;
    flex-shrink: 0;

    padding: 20px;
}

.second_lower_container_detail {
    flex-grow: 2;
    flex-shrink: 0;
}


.second_lower_container_option_details img{
    height: 10px;
    width: 10px;
}


.third_lower_container {

}